<%= object_messages %>
<div id="content" class="simpleform">
  <fieldset><legend><%= t 'providers.providers' %><br/></legend></fieldset>
  <%= render :partial => 'filter' %>
  <div id="table-area">
    <p class="add-link"><%= link_to t('general.new'), new_provider_url%> <img src="images/icon-add.gif" align="absmiddle"></p>
    <% unless @providers.empty? %>
    <table class="tabla">
      <%= render :partial => 'header' %>
      <%= render :partial => 'provider', :collection => @providers %>
    </table>
    <% else %>
     <%= t 'providers.no_providers' %>
    <% end %>
  </div>
  <%= will_paginate(@providers, :prev_label => "<<", :next_label => ">>", :params => params.clone.delete_if{|k,v| k == 'controller' || k == 'action' || k == 'page'}) %>
</div>
