<div id="order-area">
  <span><b><%= t 'general.name' %>:</b><%=h @raw_product.name %></span><br/>
  <span><b><%= t 'general.description' %>:</b><%=h @raw_product.description %></span><br/>
  <span><b><%= t 'providers.provider' %>:</b><%=h @raw_product.provider.name %></span><br/>
  <span><b>Stock:</b><%=h @raw_product.stock %></span><br/>
  <span></span>
</div>
