<ol>
  <li>
    <label><%= t('general.language') %> </label>
    <%= params[:action] == 'edit' ? (@product_translation.locale.code rescue '') : select_locales_for('product_translation', @product_translation) %>
  </li>
  <li>
    <label><%= t('general.name') %></label>
    <%= text_field :product_translation, :name %>
  </li>
  <li>
    <label><%= t('general.description') %></label>
    <%= text_field :product_translation, :description %>
  </li>
  <li>
    <label>&nbsp;</label>
    <%= submit_tag t('general.keep'), {:class => "button"} %>&nbsp; <%= link_to t('general.cancel'), product_product_translations_url(@product) %>
  </li>
</ol>
