<%= object_messages(@raw_product_translation) %>
<div id="content" class="simpleform">
  <%= form_tag raw_product_raw_product_translation_url(@raw_product, @raw_product_translation), :method => :put %>
    <fieldset>
      <legend><legend><%= link_to t('general.base_products'), raw_products_url %> &raquo; <%= @raw_product.name %> - <%=  t('translations.edit_translation') %>&nbsp;<%= @raw_product_translation.locale.code %><br/></legend>
      <%= render :partial => 'form' %>
    </fieldset>
  </form>
</div>

