<ol>
  <li>
    <label><%= t 'products.reference' %></label>
    <%= text_field :product, :reference %>
  </li>
  <li>
    <label><%= t 'general.name' %></label>
    <%= text_field :product, :name %>
  </li>
  <li>
    <label><%= t 'general.description' %></label>
    <%= text_field :product, :description %>
  </li>
  <li>
    <label>Stock</label>
    <%= text_field :product, :stock %>
  </li>
  <li>
    <label>&nbsp;</label>
    <%= submit_tag t('general.keep'), {:class => "button"} %>&nbsp; <%= link_to t('general.cancel'), products_url %>
  </li>
</ol>
