<%= object_messages %>
<div id="content" class="simpleform">
  <fieldset><legend><%= t 'products.products' %><br/></legend></fieldset>
  <%= render :partial => 'filter' %>
  <div id="table_area">
    <p class="add-link"><%=  link_to t('general.new'), new_product_url%> <img src="/images/icon-add.gif" align="absmiddle"></p>
    <% unless @products.empty? %>
      <table class ="tabla">
        <%= render :partial => 'header' %>
        <%= render :partial => 'product', :collection => @products %>
      </table>
    <% else %>
      <%= t 'products.no_products' %>
    <% end %>
  </div>
  <%= will_paginate(@products, :prev_label => "<<", :next_label => ">>", :params => params.clone.delete_if{|k,v| k == 'controller' || k == 'action' || k == 'page'}) %>
</div>
