    <colgroup><col/><col/><col/><col/><col/><col/><col width="115"/></colgroup>
    <tr>
      <th><%= link_to 'ID', sales_url(get_order('id')) %> <!--img src="/images/icon-saledown.gif" width="13" height="13" align="absmiddle"--> </th>
      <th><%= link_to t('users.user'), sales_url(get_order('id')) %></th>
      <th><%= link_to t('general.date'), sales_url(get_order('sale_date')) %></th>
      <th><%= link_to t('general.estimated_date'), sales_url(get_order('estimated_date')) %></th>
      <th><%= link_to t('general.state'), sales_url(get_order('state')) %></th>
      <th><%= t 'clients.client' %></th>
      <th><a href="#"><%= t 'general.actions' %></a></th>
    </tr>
